<%# locals: (character:, direction:) %>
<tr data-chat-target="message" data-character-id="<%= character.id %>">
  <td class="message-move-enter"></td>
  <td class="message-move-enter">
    <%= t(".#{direction}", name: character.name) %>
  </td>
</tr>
