<tr data-chat-target="message" data-character-id="<%= character.id %>">
  <td class="message-move-exit"></td>
  <td class="message-move-exit">
    <%= t(".#{direction}", name: character.name) %>
  </td>
</tr>
