<tr data-controller="message" data-target="messages.message">
  <td class="message-move-failure"></td>
  <td class="message-move-failure">
    <%= t(".message", direction: direction) %>
  </td>
</tr>
