@import "tailwindcss";

@plugin "@tailwindcss/forms";

#container {
  grid-template-columns: 20rem minmax(28rem, auto) minmax(20rem, 16vw);
}

#sidebar {
  grid-template-rows: max-content auto;
}

#navigation {
  grid-template-columns: 64px auto;
}

#chat {
  grid-template-rows: auto max-content;
}

#chat table {
  @apply w-full;
}

#chat .aliased {
  @apply text-transparent;
}

#messages {
  @apply text-sm;
}

#messages td {
  @apply py-2 px-4 leading-none bg-white border-b border-gray-300;
}

#messages td + td {
  @apply pl-0;
}

#messages td:first-child {
  @apply w-1/12 font-bold text-right;
}

#messages td.message-alias-remove,
#messages td.message-attack-hit,
#messages td.message-attack-killed,
#messages td.message-attacker-hit,
#messages td.message-attacker-killed,
#messages td.message-attacker-unknown,
#messages td.message-emote,
#messages td.message-enter-game,
#messages td.message-exit-game,
#messages td.message-pickup-invalid,
#messages td.message-pickup-missing,
#messages td.message-pickup-observer,
#messages td.message-pickup-success,
#messages td.message-unknown {
  @apply font-normal text-left;
}

#messages td.message-emote {
  @apply italic leading-5;
}

#messages td.message-enter-game,
#messages td.message-exit-game {
  @apply bg-gray-200;
}

#messages .message-alias td,
#messages .message-help td,
#messages .message-help th {
  @apply py-2 px-4 font-normal text-left border-0 bg-inherit;
}

#messages td.message-look {
  @apply font-normal leading-5 text-left bg-gray-200;
}

#messages td.message-look p {
  @apply max-w-2xl;
}

#messages td.message-pickup-invalid,
#messages td.message-pickup-missing,
#messages tr.message-monsters-attack-hit td,
#messages tr.message-monsters-attack-kill td,
#messages tr.message-monsters-attack-missed td {
  @apply bg-gray-200;
}

#messages tr.message-monsters-attack-target-hit td,
#messages tr.message-monsters-attack-target-killed td,
#messages tr.message-monsters-attack-target-missed td {
  @apply bg-red-200 border-red-300;
}

#messages tr.message-monsters-attack-target-hit td {
  @apply font-semibold;
}

#messages td.message-direct,
#messages td.message-say {
  @apply py-3 leading-5;
}

#messages td.message-whisper {
  @apply font-normal text-left bg-slate-100;
}

#messages td.message-whisper span {
  @apply font-bold;
}

#messages td.nth-child(1) {
  vertical-align: top;
}

#messages td.message-attacker-unknown,
#messages td.message-unknown {
  @apply bg-red-100 border-red-200;
}

#messages .message-alias,
#messages .message-help {
  @apply p-0;
}

#messages .message-alias tr,
#messages .message-help tr {
  @apply odd:bg-white even:bg-gray-100;
}

#messages .message-alias td:nth-child(1),
#messages .message-alias td:nth-child(2),
#messages .message-help td:nth-child(1),
#messages .message-help td:nth-child(2) {
  @apply w-1/12 font-mono text-sm whitespace-nowrap;

  font-size: 0.8rem;
}

#messages .message-alias td:nth-child(1) {
  @apply pr-2 text-right;
}

#messages .message-alias td:nth-child(2) {
  @apply w-11/12;
}

#messages .message-help td:nth-child(1) {
  @apply pr-2 text-right;
}

#messages .message-help td:nth-child(2) {
  @apply pl-0;
}

#messages .message-alias td[colspan="2"],
#messages .message-help th {
  @apply font-sans font-bold text-center bg-slate-200;
}

#navigation ol,
#surroundings ol {
  @apply list-none;
}

#character-inventory li,
#surroundings li {
  @apply overflow-hidden py-2 px-4 font-semibold leading-8 text-gray-200 bg-gray-700 border-b border-gray-900;
}

#character-inventory img,
#surroundings img {
  @apply float-left mr-2 w-8 h-8 bg-white rounded opacity-25;
}

/* stylelint-disable selector-class-pattern */
.highlight-errors .field_with_errors input {
  @apply border-red-400;
}

.highlight-errors .field_with_errors input:focus {
  @apply ring-red-200;
}
/* stylelint-enable selector-class-pattern */
