.browserslistrc
.dockerignore
.erb-lint.yml
.gitattributes
.gitignore
.rubocop.yml
.ruby-version
.stylelintignore
.stylelintrc.js
.tool-versions
.yamllint.yml
Dockerfile
LICENSE
Procfile
Procfile.dev
README.md
docker-compose.yml
eslint.config.js
.git/
.github/
.ruby-lsp/
coverage/
docs/
log/
node_modules/
public/assets
spec/
tmp/

!app/assets/builds/.keep
!log/.keep
!tmp/.keep
