.yarn/*
app/assets/builds/*
coverage/
log/
node_modules/
tmp/
config/credentials/production.key

!app/assets/builds/.keep
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
