# Ignore all environment files.
/.env*
!.env.example

# Ignore Yarn files.
/.yarn

# Ignore any asset builds.
/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore keys for decrypting credentials and more.
/config/credentials/*.key
/config/master.key

# Ignore all logs and temporary files.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore any development dependencies.
/node_modules/

# Ignore any pre-compiled assets.
/public/assets
