<%# locals: (character:) %>
<div data-controller="streams">
  <div id="streams">
    <%= turbo_stream_from character, id: dom_id(character), data: { "streams-target" => "stream" } %>
    <%= turbo_stream_from character.room, id: dom_id(character.room) %>
  </div>

  <div data-streams-target="notice" class="grid hidden absolute top-0 right-0 bottom-0 left-0 content-center text-center select-none">
    <div class="absolute top-0 right-0 bottom-0 left-0 bg-black opacity-70"></div>
    <div class="inline-block m-auto">
      <div class="relative py-6 px-8 text-white rounded bg-slate-800">
        <span class="block pb-2 font-bold"><%= t(".title") %></span>
        <span><%= t(".message") %></span>
      </div>
    </div>
  </div>
</div>
