<tr data-chat-target="message" data-character-id="<%= character.id %>">
  <td></td>
  <td class="message-attack-hit">
    <%= t(".message", attacker_name: character.name, target_name: target_name) %>
  </td>
</tr>
