<%# locals: (character:, message:, target:) %>
<tr data-chat-target="message">
  <td class="message-direct">
    <span>
      <%= character.name %>
    </span>
  </td>
  <td class="message-direct">
    <span class="mention"><%= target.name %>:</span> <%= message %>
  </td>
</tr>
