<%# locals: (title:) %>
<div class="mb-8 text-center">
  <h1 class="mb-2 text-3xl font-bold text-slate-800"><%= title %></h1>
  <div class="mx-auto w-16 h-1 bg-gradient-to-r rounded-full from-slate-700 to-slate-900"></div>
</div>
