<tr data-controller="message" data-target="messages.message" data-character-id="<%= character.id %>" class="message-monsters-attack-kill">
  <td></td>
  <td>
    <%= t(".message", attacker_name: attacker_name, target_name: target_name) %>
  </td>
</tr>
