<%# locals: () %>
<div class="grid items-start bg-gray-900">
  <div>
    <a class="block m-2 cursor-pointer" title="<%= t(".equipment") %>">
      <div class="p-2 bg-gray-800 rounded">
        <svg class="block mx-auto text-gray-300 fill-current" height="23" viewBox="0 0 20 23" width="20" xmlns="http://www.w3.org/2000/svg">
          <path d="m9.46.08539795c.35099653-.11386393.7290035-.11386393 1.08 0l8.25 2.675c.7212257.2339669 1.2097391.90577381 1.21 1.664v5.024c0 6.18999995-3.77 10.70499995-9.401 12.82999995-.3860873.1454592-.81191272.1454592-1.198 0-5.63-2.126-9.401-6.64-9.401-12.82999995v-5.024c0-.76.49-1.43 1.21-1.664z"></path>
        </svg>
      </div>
    </a>
  </div>

  <%= form_tag exit_characters_path, class: "block self-end m-2 cursor-pointer", title: t(".exit") do %>
    <button id="exit_game" type="submit" class="block p-2 m-0 w-full rounded">
      <svg class="block mx-auto text-gray-300 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path d="M3 3.25c0-.966.784-1.75 1.75-1.75h5.5a.75.75 0 010 1.5h-5.5a.25.25 0 00-.25.25v17.5c0 .138.112.25.25.25h5.5a.75.75 0 010 1.5h-5.5A1.75 1.75 0 013 20.75V3.25zm16.006 9.5l-3.3 3.484a.75.75 0 001.088 1.032l4.5-4.75a.75.75 0 000-1.032l-4.5-4.75a.75.75 0 00-1.088 1.032l3.3 3.484H10.75a.75.75 0 000 1.5h8.256z"></path>
      </svg>
    </button>
  <% end %>
</div>
