<div class="p-4 bg-gray-200">
  <%= text_field_tag :input, nil, autofocus: true, class: "p-2 w-full text-sm leading-none rounded border border-gray-500 border-solid outline-none focus:border-gray-600", spellcheck: false %>
</div>
