<tr data-controller="message" data-target="messages.message">
  <td></td>
  <td class="message-attack-hit" data-character-id="<%= character.id %>">
    <%= t(".message", attacker_name: attacker_name, target_name: target_name) %>
  </td>
</tr>
