<tr data-controller="message" data-target="messages.message" data-character-id="<%= character.id %>">
  <td></td>
  <td class="message-attack-missed">
    <%= t(".message", attacker_name: attacker_name, target_name: target_name) %>
  </td>
</tr>
