<%# locals: () %>
<main class="container my-16 mx-auto w-3/4 text-center">
  <header>
    <h1 class="text-4xl font-bold tracking-tight"><%= t("title") %></h1>
  </header>

  <% if signed_out? %>
    <section>
      <%= link_to t(".new_account"), new_account_path, class: "block w-fit px-6 py-4 mx-auto mt-6 text-sm font-semibold text-white bg-green-600 rounded-lg hover:bg-green-500 md:mt-12 md:text-xl" %>

      <p class="mt-4 text-sm text-gray-600"><%= t(".existing_account") %> <%= link_to t(".sign_in"), new_sessions_path, class: "underline" %>.</p>
    </section>
  <% end %>
</main>
