<%# locals: () %>
<div class="px-8 pt-24 pb-16 mx-auto max-w-2xl text-center">
  <header class="mb-12">
    <h1 class="mb-4 text-6xl font-bold tracking-tight text-transparent bg-clip-text bg-gradient-to-r from-slate-700 to-slate-900">
      <%= t("title") %>
    </h1>
    <div class="mx-auto w-24 h-1 bg-gradient-to-r rounded-full from-slate-700 to-slate-900"></div>
  </header>

  <% if signed_out? %>
    <section class="space-y-4">
      <%= link_to t(".new_account"), new_account_path, class: "inline-block w-full px-8 py-4 text-lg font-semibold text-white bg-gradient-to-r from-slate-700 to-slate-800 rounded-lg shadow-lg hover:from-slate-600 hover:to-slate-700 cursor-pointer" %>

      <p class="text-base text-slate-600">
        <%= t(".existing_account") %>
        <%= link_to t(".sign_in"), new_sessions_path, class: "text-slate-700 hover:text-slate-800 underline underline-offset-4 decoration-2 cursor-pointer" %>.
      </p>
    </section>
  <% end %>
</div>
