<tr data-controller="message" data-target="messages.message" data-character-id="<%= character.id %>">
  <td class="message-character-respawn"></td>
  <td class="message-character-respawn">
    <%= t(".message", name: character.name) %>
  </td>
</tr>
