<main class="w-screen py-12 lg:p-12">
  <div class="w-full max-w-lg px-8 py-12 mx-auto">
    <div class="mb-12 text-center">
      <h1 class="text-3xl font-bold text-gray-700"><%= t(".header") %></h1>
    </div>

    <p class="text-center"><%= t(".empty") %></p>
  </div>
</main>
