<main class="py-12 w-screen lg:p-12">
  <div class="py-12 px-8 mx-auto w-full max-w-lg">
    <div class="mb-12 text-center">
      <h1 class="text-3xl font-bold text-gray-700"><%= t(".header") %></h1>
    </div>

    <p class="text-center"><%= t(".empty") %></p>
  </div>
</main>
