<%# locals: (character:, message:, target:) %>
<tr data-chat-target="message">
  <td class="message-whisper" colspan="2">
    <%= t(".message_html", message: message, name: character.name, target_name: target.name) %>
  </td>
</tr>
