<tr data-controller="message" data-target="messages.message">
  <td class="message-whisper" colspan="2">
    <%= t(".message_html", message: message, name: character.name, target_name: target_name) %>
  </td>
</tr>
