<tr data-controller="message" data-target="messages.message" class="message-monsters-attack-target-killed">
  <td></td>
  <td>
    <%= t(".message", attacker_name: attacker_name, count: damage) %>
  </td>
</tr>
