<%# locals: (command:) %>
<tr data-chat-target="message">
  <td class="message-alias-add-invalid-command"></td>
  <td class="message-alias-add-invalid-command">
    <%= t(".message", command: command) %>
  </td>
</tr>
