<tr data-chat-target="message">
  <td colspan="2" class="message-alias">
    <table>
      <tr>
        <td colspan="2"><%= t(".header", count: aliases.size) %></td>
      </tr>

      <% aliases.each do |(name, command)| %>
        <tr>
          <td>
            <%= name %>
          </td>
          <td>
            <%= command %>
          </td>
        </tr>
      <% end %>
    </table>
  </td>
</tr>
