@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#container {
  grid-template-columns: 20rem minmax(28rem, auto) minmax(20rem, 16vw);
}

#sidebar {
  grid-template-rows: 0.25rem max-content auto;
}

#navigation {
  grid-template-columns: 64px auto;
}

#chat {
  grid-template-rows: auto max-content;

  table {
    @apply w-full;
  }

  .aliased {
    @apply text-transparent;
  }
}

#messages {
  @apply text-sm;

  td {
    @apply bg-white px-4 py-2 border-b border-gray-300 leading-none;

    + td {
      @apply pl-0;
    }

    &:first-child {
      @apply w-1/12 font-bold text-right;
    }

    &.message-emote,
    &.message-enter-game,
    &.message-exit-game,
    &.message-unknown {
      @apply font-normal text-left;
    }

    &.message-emote {
      @apply italic leading-5;
    }

    &.message-enter-game,
    &.message-exit-game {
      @apply bg-gray-200;
    }

    &.message-say {
      @apply py-3 leading-5;

      &:nth-child(1) {
        vertical-align: top;
      }
    }

    &.message-unknown {
      @apply bg-red-100 border-red-200;
    }
  }
}

.highlight-errors {
  .field_with_errors {
    input {
      @apply border-red-400;

      &:focus {
        @apply shadow-red-200;
      }
    }
  }
}
