<tr data-controller="message" data-target="messages.message">
  <td class="message-say">
    <span>
      <%= character.name %>
    </span>
  </td>
  <td class="message-say">
    <%= message %>
  </td>
</tr>
